@import url(./word.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --first:white;
    --second:#f07f23;
    --third:black;
}
@font-face{
    font-family: myFont;
    src: url(./Agustine\ Script.ttf);
}
.circles{
    font-family: outfit;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--second);
    flex-wrap: wrap;
}

.box{
    position: relative;
    width: 270px;
    height: 320px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--first);
    border-radius: 16px;
    cursor: pointer;
    box-shadow: 0 30px 60px rgba(0,0,0,.5);
    
}
.box .percent, .box .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
}
.box .percent svg circle{
    width: 150px;
    height: 150px;
    fill: none;
    stroke-width: 10;
    stroke: var(--third);
    transform: translate(5px,5px);
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
    stroke-linecap: round;
}
.box .percent svg circle:nth-child(1){
   stroke-dashoffset: 0;
   stroke: #e0e0e0; 
}
.box .percent svg .html{
    stroke-dashoffset: calc(440 - (440 * 96) / 100);
    stroke: var(--second);
    animation: animate 1.5s ;
}
.box .percent svg .css{
    stroke-dashoffset: calc(440 - (440 * 87) / 100);
    stroke: var(--second);
    animation: animate 1.5s backwards;
    animation-delay: .5s;
}
.box .percent svg .js{
    stroke-dashoffset: calc(440 - (440 * 80) / 100);
    stroke: var(--second);
    animation: animate 1.5s backwards;
    animation-delay: .3s;
}
.box .percent .number{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--third);
}
.box .percent .number h2{
    font-size: 45px ;
}
.box .percent .number h2 span{
    font-size: 24px ;
}

.box .text{
    padding: 30px 0 0;
    color: var(--third);
    letter-spacing: 1.3px;
}

.box:hover {
    transform: translateY(-7%);
    transition: ease .5s;
}

.first{
    animation: boxanim 1s;
}
.second{
    animation: boxanim 1s;
    animation-delay: .5s;
}
.third{
    animation: boxanim 1s;
    animation-delay: .3s;
}
@keyframes boxanim {
    0%{
        
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-7%);
    }
    100%{
        opacity: 100%;
        transform: translateY(0%);

    }
}
    
@keyframes animate{
    0%{
        stroke-dashoffset: 440;
    }
}